
.header-background .navbar-link{
    color: black;
  }
.header-background{
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  .page-header{
    display: flex;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
.page-header div{
    display: flex;
    margin-left: 140px;
}
.mienbac-chitiet{
    color: var(--bright-navy-blue)
}
.mienbac-chitiet a{
    color: var(--bright-navy-blue);
    display: inline;
}
.mienbac-chitiet a:hover{
    text-decoration: underline;
}
.chitiet-tour {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
}
.chitiet-tour h4{
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: rgb(2,155,197);
}
.chitiet-tour h3{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(2,155,197);
}
.chitiet-tour, .mienbac-chitiet{
    font-weight: normal;
}
.chitiet-tour img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.chitiet-tour .chuyendi-chitiet {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
    display: flex; /* Sắp xếp các phần tử theo hàng ngang */
    align-items: center; 
}
.chitiet-tour .chuyendi-chitiet .column1, .column2{
    margin-top: 100px;
    padding-left: 50px;
    margin-bottom: 100px;
    width: 48%;
}

.chitiet-tour .chuyendi-chitiet .column1{
    border-right: 1px solid black;
}
.pay-section .payment-container {
    display: flex;
    width: 780px;
    margin: 0 auto;
    padding: 20px;
    border: none;
}
.pay-card{
    margin-top: 10px;
}
#zalopay{
    margin-left:-5px;
}
.pay-section .payment-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.payment-option label {
    color: black;
    font-weight: bold;
}
.pay-section .payment-option input[type="radio"] {
    width: 50px;
}

.pay-section .payment-option img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.left-payment{
    display: flex; 
    flex-direction: column; 
    align-items: center; /* Centers horizontally */ 
    justify-content: center; /* Centers vertically */ 
    margin: 0 auto;
}
.pay-section .total {
    font-weight: bold;
}
.payment-guide { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center; 
    margin: 0 auto;  } 
.payment-guide ol { padding-left: 0; list-style-position: inside; } 
.payment-guide ol li { margin-bottom: 10px; }
.qr-code {
    text-align: center;
}
.custom-list {
    counter-reset: custom-counter; 
    list-style: none; 
    padding-left: 0; 
}

.custom-list li {
    counter-increment: custom-counter; 
    padding-bottom: 50px; 
    position: relative; 
    padding-left: 40px; 
    font-size: 24px;
}

.custom-list li::before {
    content: counter(custom-counter); 
    display: inline-block;
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    background-color: #655252; 
    color: white; 
    text-align: center; 
    line-height: 30px; 
    position: absolute; 
    left: 0; 
    top: 0; 
    font-weight: bold; 
}
