  /* RESPONSIVE */

  .filter.show { display: block;}

/* Styles for min-width 576px */
@media (min-width: 576px) and (max-width: 768px){
    .filter-toggler{
        background-color: var(--bright-navy-blue);
        color: white;
        padding: 10px 20px;
        border-radius: 50%;
        height: 60px;
        margin-left: 90px;
    }
    .filter{
        display: none;
        height: 500px;
        width: 300px;
        margin-top: 30px;
        margin-left: 120px;
        position: absolute;
    }
    .filter h2{
        font-size: 1rem;
    }
    .filter form label{
        font-size: 1rem;
    }
    .filter form .budget label{
        font-size: 1rem;
    }
    .filter form .budget-options{
        width: 260px;
    }
    .result-item {
        width: 260px;
        height: 500px;
        display: block;
    }
    .result-image {
        width: 100%;
        height: 200px;
    }
    .result-details h3{
        margin-top: 10px;
        font-size: 1rem;
    }
    .result-details div{
        margin-top: 10px;
        font-size: 0.9rem;
    }
    .result-details .price{
        margin-top: 10px;
        font-size: 0.9rem;
    }
    .result-details .price-and-button{
        display: block;
    }
    .result-details .detail-btn{
        font-size: 1rem;
        margin-left: 120px;
        margin-top: 40px;
        width: 110px;
    }
    .page-header{
        display: flex;
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-size: 1rem;
        font-weight: bold;
        border-bottom: 1px solid rgb(94, 94, 94);
    }
    .page-header div{
        display: flex;
        margin-left: 20px;
        width: 100px;
    }
    .page-header .sapxeptheo{
        margin-right: 20px;
    }
    .page-header #number-tour{
        width: 100px;
    }
    .page-header #combobox-sapxep{
        width: 100px;
        font-size: 1rem;
    
    }
    .pagination{
        margin-left: 170px;
    }
}

/* Styles for min-width 768px */
@media (min-width: 769px) and (max-width: 991px) {

    .filter-toggler{
        background-color: var(--bright-navy-blue);
        color: white;
        padding: 10px 15px;
        border-radius: 50%;
        height: 50px;
        margin-left: 90px;
    }

    .filter{
        display: none;
        height: 500px;
        width: 300px;
        margin-top: 30px;
        margin-left: 120px;
        position: absolute;
    }
    .filter h2{
        font-size: 1rem;
    }
    .filter form label{
        font-size: 1rem;
    }
    .filter form .budget label{
        font-size: 1rem;
    }
    .filter form .budget-options{
        width: 260px;
    }
    .result-item-list{
        display: flex;
        gap: 20px;
        flex-wrap: wrap; 
        justify-content: space-between; 
    }
    .result-item {
        flex: 0 1 calc(50% - 30px);
        height: 500px;
        display: block;
        margin-right: 20px;
    }
    .result-image {
        width: 100%;
        height: 200px;
    }
    .result-details h3{
        margin-top: 10px;
        font-size: 1rem;
    }
    .result-details div{
        margin-top: 10px;
        font-size: 0.9rem;
    }
    .result-details .price{
        margin-top: 10px;
        font-size: 0.9rem;
    }
    .result-details .price-and-button{
        display: block;
    }
    .result-details .detail-btn{
        font-size: 1rem;
        margin-left: 200px;
        margin-top: 50px;
        width: 110px;
    }
    .page-header{
        display: flex;
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-size: 0.9rem;
        font-weight: bold;
        border-bottom: 1px solid rgb(94, 94, 94);
    }
    .page-header div{
        display: flex;
        margin-left: 50px;
        width: 500px;
    }
    .page-header .sapxeptheo{
        margin-right: 20px;
    }
    .page-header #number-tour{
        width: 300px;
    }
    .page-header #combobox-sapxep{
        width: 100px;
        font-size: 0.9rem;
    
    }
    .pagination{
        margin-left: 170px;
    }
}

/* Styles for min-width 992px */
@media (min-width: 992px) {

    .filter-toggler{
        display: none;
    }
    .filter{
        display: block;
        background-color: rgb(154,211,226);
        padding: 20px;
        border-radius: 8px;
        width: 450px;
}
.page-header #combobox-sapxep{
    height: 30px;
    width: 200px;
    font-size: 18px;
    margin-left: 50px;

}
.pagination{
    top: -160px;
}
  .page-header{

    padding-bottom: 10px;

    border-bottom: 1px solid rgb(94, 94, 94);
}

}

/* Styles for min-width 1200px */
@media (min-width: 1200px) {
    .filter-toggler{
        display: none;
    }
    .filter{
        display: block;
        background-color: rgb(154,211,226);
        padding: 20px;
        border-radius: 8px;
        width: 450px;
    }
    .page-header #combobox-sapxep{
        height: 30px;
        width: 200px;
        font-size: 18px;
        margin-left: 50px;
    
    }
}